/* .mdui-appbar{
	background-color: aliceblue;
	height: auto;
	transition: 1s;
}

.mdui-appbar .mdui-tab{
	margin-top: 0px;
	transition: 1s;
}

.mdui-appbar .mdui-tab a{
	height: 50px;
	transition: 1s;
}

.mdui-appbar .mdui-tab a i{
	font-size: 45px!important;
	transition: 1s;
} */